.moreProducts {
  /* margin-left: 18.8%;
  margin-right: 18%; */
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* gap: 15px; */
  row-gap: 60px;

}

.eachMug .mug .image {
  margin-left: auto;
  margin-right: auto;
}

.eachMug img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eachMug .mug .image .overlay {
  width: 300px;
  height: 400px;
  background: black;
  overflow: hidden;
  margin-bottom: 10px;

}

.eachMug .image #onSale {
  width: 27%;
  height: 8%;
  left: 83%;
}

.eachMug .mug .price {
  margin-top: 15px;
}

.moreProductsTitle {
  margin-top: 0%;
  font-size: 12px;
  color: #6d7696;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 100px;
}

.moreProductsSection {
  margin-bottom: 150px;
}