.rightSide {
    display: inline;
    text-align: left;
    margin-top: 2.5%;
    height: 300px;
  }
  
  .premiumFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .premiumOfferF {
    margin-top: 0%;
    font-size: 12px;
    color: #6d7696;
    line-height: 30px;
    letter-spacing: 1.5px;
    font-weight: 600;
  }
  
  .premiumOfferS {
    margin-top: 0%;
    font-size: 30px;
    color: #212332;
    line-height: 30px;
    letter-spacing: 1.5px;
    font-weight: 400;
  }
  
  .premiumOfferT {
    margin-top: 0%;
    font-size: 13px;
    color: #6d7696;
    line-height: 30px;
    letter-spacing: 0.9px;
    font-weight: 500;
  }
  
  .size {
    width: 160px;
    height: 130px;
    object-fit: fill;
  }
  
  .sizeAndPosition {
    height: 280px;
    width: 280px;
    object-fit: fill;
    margin: 0px 20px 20px 20px;
  }
  
  .startButton {
    width: 45%;
    height: 15%;
    color: #fff;
    background-color:#212332;
    border: none;
    font-size: 70%;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    letter-spacing: 1.5px;
    font-family: "Open Sans", sans-serif;
  }
  
  .leftSide {
    display: flex;
    flex-direction: row;  
  }
  
  .rightSideImages {
    display: flex;
    flex-direction: column; 
    gap: 19.5px; 
  }